/node_modules
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/js/app.js
public/profile_pictures/*.png
public/profile_pictures/*.jpg
.DS_Store
package-lock.json
composer.lock
