.first-paragraph {
	font-size: 35px;
	font-family: 'Fira Sans', sans-serif;
	color: #4fc3f7;

	/* text-shadow:2px 2px 5px black; */
}

.second-paragraph {
	padding: 25px 0 75px 0;
	font-size: 70px;
	color: #29b6f6;
}

.third-paragraph {
	text-align: justify;
	font-size: 35px;
}

@media only screen and (max-width: 400px) {
	.first-paragraph, .third-paragraph {
		font-size: 20px;
	}

	.second-paragraph {
		font-size: 55px;
	}
}
