.information-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1170px;
	margin: 0 auto;
}

.important-paragraph {
	font-size: 35px;
	text-align: center;
	font-style: italic;
	color: #4caf50;
}

.paragraph {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-bottom: 30px;
}

.paragraph-title {
	font-size: 50px;
	color: #4caf50;
	text-align: center;
}

.paragraph-description {
	font-size: 30px;
	margin-left: 10%;
}



@media only screen and (max-width: 500px) {
	.first-paragraph {
		font-size: 20px;
		margin-right: .5rem;
	}

	.second-paragraph {
		font-size: 55px;
		margin-right: .5rem;
	}

	.paragraph-title {
		font-size: 30px;
	}

	.paragraph-description {
		font-size: 20px;
		margin-right: .5rem;
	}

	.paragraph {
		margin-bottom: 20px;
		margin-right: .5rem;
	}

	.important-paragraph {
		font-size: 30px;
		margin-right: .5rem;
		margin-left: .5rem;
	}
}
