.page-footer {
	padding-top: 0 !important;
	box-shadow: 10px 0 10px 10px #b0bec5;
}
.creat-margin {
	margin: 0 10px ;
}

footer.page-footer {
	margin-top: 32px;
	height: 150px;
	background-color:  #424a60 !important;
}

footer.page-footer .footer-copyright {
	min-height: 64px !important;
}

.footer-text-position {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.creatBy-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media screen and (max-width: 479px) {
	/* start of phone styles */
	.creatBy-flex {
		flex-direction: column;
	}
}

.instagram {
	background-image: url('../../../images/instagram.png');
}

.facebook {
	background-image: url('../../../images/facebook.png');
}

.viber {
	background-image: url('../../../images/viber.png');
}

.instagram, .facebook, .viber {
	width: 80px;
	height: 80px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.social-wrapper {
	display: flex;
	height: 100%;
	width: 33.33%;
	margin: 0 auto;
	justify-content: space-between;
	padding: 12px 0;
}

.footer-text {
	text-align: center;
	color: #fff;
	margin: 0;
}

@media screen and (max-width: 790px) {
	.social-wrapper {
		width: 100%;
		justify-content: space-around;
	}

	.instagram, .facebook, .viber {
		width: 60px;
		height: 60px;
	}
}
/* box-shadow: 10px 0 10px 10px #b0bec5; */
